body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  width: max-content;
    margin: auto;

}

button {
  width: 90px;
  height: 35px;
  margin-top: 18px;
}

input {
  height: 25px;
}

.fetch-div {
  float: left;
  margin-right: 50px;
}

.filter-div {
  float: left;
  margin-right: 50px;
}

.clear-div {
  clear: both;

}

.functionality {
  margin: auto;
  width: max-content;
  margin-top: 110px;
}

.clear-git-repo-button {
  margin-left: -18%;
  margin-top: 30px;
}

.repo-list-div{
  margin: auto;
  width: max-content;
  margin-top: 60px;
  margin-bottom:100px;
}